<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.data.mapper.CleanRuleConfigMapper">
    
    <resultMap type="CleanRuleConfig" id="CleanRuleConfigResult">
        <result property="id"    column="id"    />
        <result property="fieldIntegrity"    column="field_integrity"    />
        <result property="timeFormat"    column="time_format"    />
        <result property="statusMapping"    column="status_mapping"    />
        <result property="outlierFilter"    column="outlier_filter"    />
        <result property="textCleaning"    column="text_cleaning"    />
        <result property="duplicateHandling"    column="duplicate_handling"    />
        <result property="executeMode"    column="execute_mode"    />
        <result property="applyData"    column="apply_data"    />
        <result property="runTime"    column="run_time"    />
    </resultMap>

    <sql id="selectCleanRuleConfigVo">
        select id, field_integrity, time_format, status_mapping, outlier_filter, text_cleaning, duplicate_handling, execute_mode, apply_data, run_time from clean_rule_config
    </sql>

    <select id="selectCleanRuleConfigList" parameterType="CleanRuleConfig" resultMap="CleanRuleConfigResult">
        <include refid="selectCleanRuleConfigVo"/>
        <where>  
            <if test="fieldIntegrity != null  and fieldIntegrity != ''"> and field_integrity = #{fieldIntegrity}</if>
            <if test="timeFormat != null  and timeFormat != ''"> and time_format = #{timeFormat}</if>
            <if test="statusMapping != null  and statusMapping != ''"> and status_mapping = #{statusMapping}</if>
            <if test="outlierFilter != null  and outlierFilter != ''"> and outlier_filter = #{outlierFilter}</if>
            <if test="textCleaning != null  and textCleaning != ''"> and text_cleaning = #{textCleaning}</if>
            <if test="duplicateHandling != null  and duplicateHandling != ''"> and duplicate_handling = #{duplicateHandling}</if>
            <if test="executeMode != null  and executeMode != ''"> and execute_mode = #{executeMode}</if>
            <if test="applyData != null  and applyData != ''"> and apply_data = #{applyData}</if>
            <if test="runTime != null  and runTime != ''"> and run_time = #{runTime}</if>
        </where>
    </select>
    
    <select id="selectCleanRuleConfigById" parameterType="Long" resultMap="CleanRuleConfigResult">
        <include refid="selectCleanRuleConfigVo"/>
        where id = #{id}
    </select>

    <insert id="insertCleanRuleConfig" parameterType="CleanRuleConfig" useGeneratedKeys="true" keyProperty="id">
        insert into clean_rule_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fieldIntegrity != null and fieldIntegrity != ''">field_integrity,</if>
            <if test="timeFormat != null and timeFormat != ''">time_format,</if>
            <if test="statusMapping != null">status_mapping,</if>
            <if test="outlierFilter != null">outlier_filter,</if>
            <if test="textCleaning != null">text_cleaning,</if>
            <if test="duplicateHandling != null">duplicate_handling,</if>
            <if test="executeMode != null">execute_mode,</if>
            <if test="applyData != null">apply_data,</if>
            <if test="runTime != null">run_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fieldIntegrity != null and fieldIntegrity != ''">#{fieldIntegrity},</if>
            <if test="timeFormat != null and timeFormat != ''">#{timeFormat},</if>
            <if test="statusMapping != null">#{statusMapping},</if>
            <if test="outlierFilter != null">#{outlierFilter},</if>
            <if test="textCleaning != null">#{textCleaning},</if>
            <if test="duplicateHandling != null">#{duplicateHandling},</if>
            <if test="executeMode != null">#{executeMode},</if>
            <if test="applyData != null">#{applyData},</if>
            <if test="runTime != null">#{runTime},</if>
         </trim>
    </insert>

    <update id="updateCleanRuleConfig" parameterType="CleanRuleConfig">
        update clean_rule_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="fieldIntegrity != null and fieldIntegrity != ''">field_integrity = #{fieldIntegrity},</if>
            <if test="timeFormat != null and timeFormat != ''">time_format = #{timeFormat},</if>
            <if test="statusMapping != null">status_mapping = #{statusMapping},</if>
            <if test="outlierFilter != null">outlier_filter = #{outlierFilter},</if>
            <if test="textCleaning != null">text_cleaning = #{textCleaning},</if>
            <if test="duplicateHandling != null">duplicate_handling = #{duplicateHandling},</if>
            <if test="executeMode != null">execute_mode = #{executeMode},</if>
            <if test="applyData != null">apply_data = #{applyData},</if>
            <if test="runTime != null">run_time = #{runTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCleanRuleConfigById" parameterType="Long">
        delete from clean_rule_config where id = #{id}
    </delete>

    <delete id="deleteCleanRuleConfigByIds" parameterType="String">
        delete from clean_rule_config where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>