<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.robots.mapper.RobotGroupsMapper">
    
    <resultMap type="RobotGroups" id="RobotGroupsResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
    </resultMap>

    <sql id="selectRobotGroupsVo">
        select id, name, description, created_at, updated_at from robot_groups
    </sql>

    <select id="selectRobotGroupsList" parameterType="RobotGroups" resultMap="RobotGroupsResult">
        <include refid="selectRobotGroupsVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectRobotGroupsById" parameterType="String" resultMap="RobotGroupsResult">
        <include refid="selectRobotGroupsVo"/>
        where id = #{id}
    </select>

    <insert id="insertRobotGroups" parameterType="RobotGroups" useGeneratedKeys="true" keyProperty="id">
        insert into robot_groups
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="description != null">description,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="updateRobotGroups" parameterType="RobotGroups">
        update robot_groups
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRobotGroupsById" parameterType="String">
        delete from robot_groups where id = #{id}
    </delete>

    <delete id="deleteRobotGroupsByIds" parameterType="String">
        delete from robot_groups where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>